@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jersey+10&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jersey+10&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jersey+10&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url(scheduleimg/slava-auchynnikau-g9IIj_5gQ_8-unsplash\ \(1\).jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: darken;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
header{
    height: 100vh;
}
.secretariats{
    position: absolute;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    text-align: center;

}
.headertext{
    position: absolute;
    text-align: center;
    color: #b8e7ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .headertext{
      font-size: 30px;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -70%);
    }
    header{
      height: 50vh;
    }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .headertext{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 50px;
  }
  header{
    height: 70vh;
  }

}

/* For large devices */
@media screen and (min-width: 1120px) {
  .headertext{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
  }
  header{
    height: 100vh;
  }
}
section{
    width: 100%;
    height: auto;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.7)
    );
    color: #b8e7ff;
    text-align: center;
}

.day{
    position: relative;
    display: block;
    height: 600px;
    width: 100%;
    padding: 50px;
    font-family: "Josefin Sans", sans-serif;
}
.day h1{
    font-size: 70px;
    color: #2fabeaf9;

}

.date h2{
    font-size: 60px;
    color: #92d3f4f9;
    font-family: "Poppins", sans-serif;
}

.right{
    display: block;
    position: absolute;
    margin-top: 20px;
    left: 0;
    width: 50%;
    height: fit-content;
    font-size: 30px;
    text-align: right;
    justify-content: space-between;
}
p{
    padding: 10px 75px;
    font-family: "Work Sans", sans-serif;
}


.left{
    display: block;
    position: absolute;
    left: 50%;
    width: 50%;
    height: fit-content;
    margin-top: 20px;
    font-size: 30px;
    text-align: left;
}

.day1{
    position: relative;
    display: block;
    height: 900px;
    width: 100%;
    padding: 50px;
    font-family: "Josefin Sans", sans-serif;
}
.day1 h1{
    font-size: 70px;
    color: #2fabeaf9;
}

.day2{
    position: relative;
    display: block;
    height: 800px;
    width: 100%;
    padding: 50px;
    font-family: "Josefin Sans", sans-serif;
}
.day2 h1{
    font-size: 70px;
    color: #2fabeaf9;

}

@media screen and (max-width: 1000px){
    .day{
        height: 500px;
    }
    .day1{
        height: 700px;
    }
    .day2{
        height: 650px;
    }
    .day h1{
        font-size: 65px;
    }
    .day1 h1{
        font-size: 65px;
    }
    .day2 h1{
        font-size: 65px;
    }
    .date h2{
        font-size: 50px;

    }
    .left{
        font-size:25px ;
    }
    .right{
        font-size:25px ;
    }
    p{
        padding: 10px 50px;
    }
    
}
@media screen and (max-width: 725px){
    .day{
        height: 500px;
    }
    .day1{
        height: 700px;
    }
    .day2{
        height: 650px;
    }
    .day h1{
        font-size: 60px;
    }
    .day1 h1{
        font-size: 60px;
    }
    .day2 h1{
        font-size: 60px;
    }
    .date h2{
        font-size: 40px;

    }
    .left{
        font-size:22px ;
    }
    .right{
        font-size:22px ;
    }
    p{
        padding: 10px 25px;
    }

}

@media screen and (max-width: 570px){
    .day{
        height: 500px;
    }
    .day1{
        height: 700px;
    }
    .day2{
        height: 650px;
    }
    .day h1{
        font-size: 60px;
    }
    .day1 h1{
        font-size: 60px;
    }
    .day2 h1{
        font-size: 60px;
    }
    .date h2{
        font-size: 40px;

    }
    .left{
        font-size:20px ;
    }
    .right{
        font-size:20px ;
    }
    p{
        padding: 10px 20px;
    }

}
@media screen and (max-width: 500px){
    .day{
        height: 450px;
    }
    .day1{
        height: 600px;
    }
    .day2{
        height: 600px;
    }
    .day h1{
        font-size: 50px;
    }
    .day1 h1{
        font-size: 50px;
    }
    .day2 h1{
        font-size: 50px;
    }
    .date h2{
        font-size: 40px;

    }
    .left{
        font-size:18px ;
    }
    .right{
        font-size:18px ;
    }
    p{
        padding: 10px 10px;
    }

}
@media screen and (max-width: 400px){
    .day{
        height: 450px;
    }
    .day1{
        height: 600px;
    }
    .day2{
        height: 600px;
    }
    .day h1{
        font-size: 50px;
    }
    .day1 h1{
        font-size: 50px;
    }
    .day2 h1{
        font-size: 50px;
    }
    .date h2{
        font-size: 30
        5px;

    }
    .left{
        font-size:17px ;
        text-align: right;
    }
    .right{
        font-size:17px ;
        text-align: left;
    }
    p{
        padding: 10px 10px;
    }

}