@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jersey+10&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jersey+10&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Jersey+10&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Orbitron:wght@400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


footer{
    background: #000000;
    padding-top: 50px;
    position: relative;
    color: white;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footcontainer{
    background-color: #000000;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
}
.footer-content-left,
.footer-content-center,
.footer-content-right{
    display: inline-block;
    vertical-align: top;
}
.footer-content-left,
.footer-content-center{
    width: 33.3%;
}

h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content-left p{
    width: 100%;
    margin-top: 15px;
    padding: 0px;
    text-align: center;
}
.footer-content-center ul{
    text-align: center;
}
.list2{
    padding: 0;
}
.list2 li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list2 li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #525252;
    transition-duration: .5s;        
}
.list2 li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.footer-content-right{
    width: 32%;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
.footera{
    color: white;
    text-decoration: none;
}
.footera:hover{
    color: #555ae1;
}
.social-icons i:hover{
    color: #555ae1;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

@media (max-width: 1120px) {
    footer {
      font-size: 14px;
    }
    .footer-content-left{
        display: inline-block;
        margin-right: 100px;
        font-size: 18px;
    }
    .footer-content-center {
        display: inline-block;
        margin-left: 100px;
        font-size: 18px;
    }
    .footer-content-right{
      display: block;
      width: 33%;
      margin-top: 80px;
      font-size: 18px;
    }
    .footer .footer-content-center i {
      margin-left: 100px;
    }
  }
  @media (max-width: 732px) {
    footer {
      font-size: 14px;
      bottom: 200px;
      height: 630px;
    }
    .footer-content-left,
    .footer-content-center,
    .footer-content-right {
      display: block;
      width: 100%;
      margin-bottom: 80px;
      text-align: left;
      justify-content: left;
      margin-left: 0px;
      margin-right: 0px;
      font-size: 18px;
    }
    .footer-content-center h3,
    .footer-content-center ul{
        text-align: center;
    }
    .footer .footer-content-center i {
      margin-left: 0;
    }
  }
  @media (max-width: 550px) {
    footer {
        font-size: 14px;
        bottom: 150px;
        height: 700px;
      }
      .bottom-bar p{
        color: #343434;
        margin: 0;
        font-size: 16px;
        padding: 7px;
        height: 10px;
    }
    
  }
  @media (max-width: 532px) {
    footer {
        font-size: 14px;
        bottom: 100px;
        height: 550px;
      }
      .footer-content-left{
        display: block;
        width: 100%;
        margin-bottom:40px;
        text-align: left;
        justify-content: left;
        margin-right: 0px;
        margin-left: -10px;
        padding: 0;
        font-size: 13px;
      }

    .footer-content-center,
    .footer-content-right {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 40px;
      text-align: left;
      justify-content: left;
      margin-right: 0px;
      margin-left: -10px;
      font-size: 15px;
      padding-left: -100px;
    }
    .footer-content-center h3,
    .footer-content-center ul{
        text-align: center;
    }
    .footer .footer-content-center i {
      margin-left: 0;
    }
  }